# Build outputs
*.apk
gateway-magisk.zip
magisk/system/priv-app/Gateway/
!magisk/system/priv-app/PermissionController/
local.properties
.env
.env.build
recordings/

# Gradle
.gradle/
build/
app/build/


# IDE
.idea/
*.iml
.vscode/
